/* p {
  color: white;
}

label {
  position: relative;
  right: 33%;
  float: left;
  clear: left;
  width: 100%;
  padding-bottom: 1em;
} */

.story-teller-form {
  margin-top: 25px;
}

.story-teller-ctn {
  padding-right: 42px;
}

.story-teller-form label,
.nonprofits-subscribe-form label {
  font-family: Helvetica, sans-serif;
}

.creatives-subscribe-form {
  height: 500px;
  display: flex;
  flex-direction: column;
}

.creatives-text {
  font-family: Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 100;
  width: 415px;
}

input[type="text"].first-name-input,
input[type="text"].last-name-input,
input[type="text"].organization-input {
  width: 340px;
  height: 30px;
  border: 1px gray solid;
  padding: 10px;
}

input[type="email"].email-input {
  height: 30px;
  border: 1px gray solid;
  padding: 10px;
}

input[type="text"].first-name-input:focus,
input[type="text"].last-name-input:focus,
input[type="text"].phone-input:focus,
input[type="email"].email-input:focus,
input[type="text"].organization-input:focus {
  outline: none;
  background-color: #ebbe0f;
}

#MERGE4 {
  border: 1px gray solid;
  min-width: 705px;
  max-width: 705px;
  resize: none;
  padding: 6px;
}

#MERGE4:focus {
  outline: none;
}

.button:hover {
  background-color: #ebbe0f;
}

.org-text-input {
  max-width: 705px;
  display: flex;
  justify-content: space-between;
}

p.nonprofits-text {
  max-width: 340px;
  font-size: 1.1em;
  font-weight: 100;
  font-family: Helvetica, sans-serif;
}

.formRow {
  display: flex;
  justify-content: space-between;
}

/* .first-name-pair {
  position: relative;
  left: 10%;
  float: left;
}

.last-name-pair {
  position: relative;
  left: 15%;
  float: left;
}

.email-pair {
  position: relative;
  left: -280px;
  top: 35px;
  float: left;
}

.message-label {
  position: relative;
  left: -13%;
  top: 75px;
}

.message-box {
  position: relative;
  left: -13%;
  top: 75px;
}

.contact-form-text {
  color: black;
  position: relative;
  text-align: left;
  left: 10%;
  top: 20px;
}

.contact-text-div {
  background-color: #000000;
  height: 300px;
}

.contact-header {
  position: relative;
  left: 5%;
  top: 40px;
  font-size: 30px;
}

.creatives-header {
  text-align: center;
  position: relative;
  top: 115px;
  left: 20%;
  font-size: 28px;
}

.creatives-text {
  position: relative;
  text-align: center;
  top: 100px;
  left: 20%;
}
.creatives-text-2 {
  position: relative;
  top: 100px;
  left: 20%;
}

.creatives-div {
  float: left;
  text-align: left;
}

.nonprofits-div {
  float: right;
  text-align: right;
}

.nonprofits-header {
  text-align: center;
  position: relative;
  top: 115px;
  right: 50%;
  font-size: 28px;
}

.nonprofits-text {
  position: relative;
  text-align: center;
  top: 100px;
  right: 52%;
}

.nonprofits-text-2 {
  position: relative;
  top: 100px;
  right: 98%;
}

.contact-grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.contact-grid-item {
  background-color: #ffffff;
  font-size: 16px;
  text-align: center;
} */
