
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8a4d76;
$cornflower-blue: #118AB2;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$gold: #FFD800;
$caribbean-green: #06D6A0
$orange-yellow: #FFD166;

// Update Bulma's global variables
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $caribbean-green;
$link: $cornflower-blue;
$widescreen-enabled: true;
$fullhd-enabled: true;
$content-heading-color: $caribbean-green;
$footer-background-color: $gold;
$infra-red: #EA0E41;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$section-padding: 1.5rem 1.5rem;
$title-color: $infra-red;
$subtitle-color: $cornflower-blue
$dropdown-item-hover-color: $purple

// Import only what you need from Bulma
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/elements/button.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';
@import '../../node_modules/bulma/sass/elements/form.sass';
@import '../../node_modules/bulma/sass/elements/title.sass';
@import '../../node_modules/bulma/sass/components/navbar.sass';
@import '../../node_modules/bulma/sass/grid/columns.sass';
@import '../../node_modules/bulma/sass/layout/hero.sass';
@import '../../node_modules/bulma/sass/layout/section.sass';
@import '../../node_modules/bulma';
view rawApp.sass hosted with ❤ by GitHub

// .gallery-item
//   height: 30vh

// .gallery-item-top
//   height: 30vh