.podcast-grid-item-div{
  position: relative;
  width: 12vw;
  height: 100px;
  display: flex;
  align-items: center;
}

.podcast-grid-item{
  width: 152px;
  height: 36px;
  max-width: 152px;
  max-height: 36px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.list-group {
  display: list-item;
  display: inline;
}

p{
  font-size: 40px;
}

h1{
  font-size: 22px;
}

li {
  color: #ffffff;
}

.full-process-image-container {
  padding-top: 56.25%;
}

.fullprocess {
  width: 100%;
  height: auto;
}

.podcastIcon-img{
  height: 250px;
  width: 250px;
  position: absolute;
  top: 50px;
  right: 200px;
}

.podcast-youtube-container{
  padding-left: 1em;
}

.podcast-container{
  padding-left: 5em;
  padding-right: 5em;
}

.grid-item-song2{
  position: absolute;
  left: 400px;
}

.grid-item-video1{
  position: relative;
  left: 100px;
}

.subscribe-div p{
  text-align: center;
}
