.podcast-grid-item-div{
  position: relative;
  width: 320px;
  height: 100px;
  display: flex;
  align-items: center;
}

.podcast-grid-item{
  width: 152px;
  height: 36px;
  max-width: 152px;
  max-height: 36px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.list-group {
  display: list-item;
  display: inline;
}

li {
  color: #ffffff;
}

.full-process-image-container {
  padding-top: 56.25%;
}

.fullprocess {
  width: 100%;
  height: auto;
}

.podcastIcon-img{
  height: 200px;
  width: 200px;
  right: 100%;
  float: right;
}
