.podcast-youtube-container {
    background-color: black;
}

.podcast-youtube-container p{
    color: #ffffff;
}

.podcast-grid-item-div{
  position: relative;
  width: 320px;
  height: 100px;
  display: flex;
  align-items: center;
}

.podcast-grid-item{
  width: 152px;
  height: 36px;
  max-width: 152px;
  max-height: 36px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}
