/* @import url('https://fontlibrary.org/face/bebas'); */

@font-face {
    font-family: 'BebasNeueRegular';
        src: url('/assets/fonts/bebas/b98870e552991cf3daa1031f9fb5ec74/51b4a619fab5e1a38643657191a85aa5/BebasNeueRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
      }

body {
  background-color: #ffffff;
  padding: 20px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

ul{
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  white-space: nowrap;
}

.content {
  margin-top: 79px;
  background-color: #FFF;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.container{
  height: auto;
  width: 100vw;
  max-width: 100vw;
  display: flex;
}

.content-ctn{
  flex-direction: column;
  justify-content: flex-start;
}

.headertext{
  z-index: 1;
  font-size: 4em;
  border-top: 8px #EBBE0F;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.regtext{
  font-size: 3em;
  padding: 0;
  margin: 0;
}

/* ==================================== */

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  z-index: 99999;
}

.topnav-ctn{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.topnavlogo{
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  height: 75px;
  width: auto;
  line-height: 75px;
}

.topnav-links {
  padding-right: 20px;
  color: black;
}

.topnav-links li{
  color: black;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
.topnav-links a{
  color: black;
  height: auto;
}

/* ================================== */

.landing-ctn{
  font-family: 'BebasNeueRegular';
  flex-flow: row wrap;
}

.landing-img{
  max-width: 100vw;
  max-height: auto;
  align-items: start;
}

.issuesimg{
  align-self: center
}


/* ================================== */

.whatwedo-ctn{
  color: white;
  background-color: #1E1E1E;
  flex-direction: column;
}

.globalissuesimg{
  max-height: 100vh;
}

.whatwedo-text-div{
  top: 15%;
  position: relative;
}

/* ================================== */

.grid-ctn{
  flex-direction: column;
}

/* ================================== */

.req-invite-ctn{
  flex-direction: column;
  align-items: center;
  background-color: #1E1E1E;
  display: flex;
}

.req-invite-btn{
  background-color: #1E1E1E;
  border: white 3px;
  color: white;
}

.req-invte-btn a{
  color: white;
}


/* ================================== */

.footer-ctn{
  color: white;
  background-color: #1E1E1E;
  height: auto;
  flex-direction: row;
}

.legalinfo{
  margin-top: 20px;
  padding: 5px;
  align-self: flex-end;
}

.sociallinks{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* align-self: center */
}
