/* @import url('https://fontlibrary.org/face/bebas'); */

@font-face {
  font-family: "BebasNeueBold";
  src: url("fonts/bebasneue-bold-webfont.woff") format("woff"),
    url("fonts/bebasneue-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "BebasNeueBold";
  background-color: #ffffff;
  padding: 20px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

p {
  color: black;
  margin: 0;
}

ul {
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  white-space: nowrap;
}

.content {
  padding-top: 79px;
  background-color: #fff;
  min-height: calc(100vh - 79px);
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.container {
  height: auto;
  width: 100vw;
  max-width: 100vw;
  display: flex;
}

.content-ctn {
  flex-direction: column;
  justify-content: flex-start;
}

.tag-line {
  display: block;
  margin: auto;
  height: 100%;
  width: auto;
}

.tag-line-img {
  width: 748px;
  padding-bottom: 10px;
}

.landing-text {
  font-size: 44px;
}

.hashtag-img {
  display: block;
  margin-left: auto;
  margin-right: 0%;
  width: 20%;
}

.headertext {
  z-index: 1;
  font-size: 4em;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.processText {
  z-index: 1;
  font-size: 3em;
  padding: 0;
  border-top: 7px #e4b70e solid;
  margin-left: 130px;
  margin-bottom: 0;
  width: 170px;
}

.regtext {
  font-size: 2em;
  padding: 0;
  margin: 0;
  max-width: 350px;
}

.whiteText {
  color: white;
}

.contentheader {
  border-top: 5px solid #ebbe0f;
}

/* ==================================== */

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  z-index: 99999;
  overflow: hidden;
}

.topnav-ctn {
  border-bottom: #dcdcdc solid;
  border-width: 1px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.topnavlogo {
  display: inline;
  margin: 10px;
  height: 75px;
  width: 30vw;
  line-height: 75px;
  object-fit: contain;
}

.topnav-links {
  padding-right: 20px;
  color: black;
  display: flex;
}

.topnav-links li {
  color: black;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  top: 2.3vw;
  bottom: auto;
}

.topnav-links a {
  color: black;
  height: auto;
  font-size: 1.75em;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
}

.topnav .icon {
  display: none;
}

/* ================================== */

.landing-ctn {
  /* flex-flow: row wrap; */
  flex-direction: column;
  /* align-items: start; */
}

.landing-img {
  max-width: 100vw;
  max-height: auto;
  padding-bottom: 10px;
}

.req-invite-ctn {
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  margin: auto;
}

.req-invite-div {
  padding: 13px;
  display: block;
  margin: 0 auto;
  background-color: #ffffff;
  border: black solid;
  border-width: 2px;
  text-align: center;
  padding-bottom: 15px;
  width: 200px;
  height: 50px;
}

.req-invite-btn {
  font-size: 2.1em;
}

.landing-text-div {
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-text {
  font-size: 36pt;
}

/* ================================== */

.whatwedo-ctn {
  color: white;
  flex-direction: column;
}

.issues {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.inspired {
  padding-top: 20px;
  padding-bottom: 20px;
}

.whatwedo-text-div {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  top: 15%;
  position: relative;
}

.whatwedo-text-div p {
  color: black;
  font-size: 2.4em;
}

/* ================================== */

.gallery-text-div {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.whoweare {
  width: 13vw;
  height: auto;
  margin-right: 30px;
  padding-bottom: 20px;
}

.gallery-header {
  font-size: 50px;
  margin-right: 30px;
}

.gallery-paragraph {
  font-size: 2.4em;
  margin-left: 300px;
  margin-right: 30px;
}

.grid-ctn {
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.rightAlignText {
  text-align: right;
}

.grid-container {
  display: flex;
  flex-direction: column;
}

.grid-row {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid-item-div {
  position: relative;
  width: 24vw;
  height: 24vh;
  display: flex;
  align-items: center;
}

.grid-item {
  width: 24vw;
  height: 24vh;
  max-width: 320px;
  max-height: 214px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.medium-post1 {
  font-size: 1em;
}

.medium-post2 {
  font-size: 1em;
}

.categoryLogo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.leftLogo {
  right: 0px;
}

/* ================================== */

#processHeader {
  margin-top: 35px;
}

.ourprocess-ctn {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.processItem-ctn {
  margin: 50px 20px 50px 20px;
  max-width: 65%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.processNumImg {
  padding: 15px;
  max-height: 170px;
}

.processRow {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.processNum {
  color: #ebbe0f;
  align-self: start;
}

.processImg {
  max-width: 200px;
  max-height: auto;
}

.process-inv-ctn {
  background: white;
}

/* ================================== */

.contact-text-ctn {
  flex-direction: column;
  justify-content: flex-start;
}

.contact-text-ctn h1 {
  font-family: "BebasNeueBold";
  font-size: 2.8em;
  border-top: 5px solid #ebbe0f;
  width: 140px;
}

.contact-text-header-div {
  margin-left: 100px;
  margin-top: 40px;
}

.form-description-ctn {
  flex-direction: row;
}

.form-description-div {
  flex-direction: column;
  align-items: center;
  flex-basis: content;
}

.creatives-div {
  margin: 20px;
}

.nonprofits-div {
  margin: 20px;
}

.contact-forms-ctn {
  flex-direction: row;
  align-items: center;
}

.contact-form-div {
  margin: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.formRow {
  display: flex;
  flex-direction: row;
}

.formMargin {
  margin-bottom: 10px;
}

.first-name-pair {
  margin-right: 5px;
}

.button {
  background-color: white;
  border: 1px solid #1e1e1e;
  font-size: 3em;
  font-family: "BebasNeueBold";
  align-self: center;
}

input[type="text"],
[type="email"] {
  width: 100%;
}

.storytellers-image {
  padding: 15px;
  height: 535px;
  width: 115px;
}
/* ================================== */

.footer-ctn {
  color: white;
  background-color: #1e1e1e;
  height: 100px;
  flex-direction: row;
}

.legalinfo {
  margin-top: 25px;
  padding: 10px;
  align-items: center;
}

.sociallinks {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-self: center;
}

.footer-nav-ctn {
  position: flex;
  justify-content: flex-end;
}

.footer-nav-ctn a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
  font-style: Helvetica, sans-serif;
  color: #ffffff;
  margin: 1em;
}

.howl-footer-img {
  max-width: 32px;
  max-height: 32px;
  padding: 5px;
}

.twitter-footer-img {
  max-width: 32px;
  max-height: 32px;
  padding: 5px;
}

.instagram-footer-img {
  max-width: 32px;
  max-height: 32px;
  padding: 5px;
}

.facebook-footer-img {
  max-width: 32px;
  max-height: 32px;
  padding: 5px;
}

.reqinvite {
  max-width: 18vw;
  margin-right: 20px;
}

@media (max-width: 600px) {
  .topnavlogo {
    min-width: 60vw;
  }
  .topnav a:not(:first-child) {
    display: none;
    padding: 20px;
    font-size: 25px;
  }

  .topnav-ctn.responsive {
    position: relative;
    display: block;
  }
  .topnav-ctn.responsive .icon {
    position: absolute;
    right: 45px;
    top: 30px;
  }
  .topnav-ctn.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .responsive .req-invite-btn {
    width: 0;
    display: none;
  }

  .topnav-ctn a#req-invite-btn {
    display: none;
    width: 0;
  }

  .topnav a.icon {
    display: block;
    position: absolute;
    right: 45px;
    top: 30px;
    font-size: 40px;
    padding: 0;
  }
}
