/* @import url('https://fontlibrary.org/face/bebas'); */

@font-face {
    font-family: 'BebasNeueBold';
    src: url('fonts/bebasneue-bold-webfont.woff') format('woff'),
         url('fonts/bebasneue-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'BebasNeueBold';
  background-color: #ffffff;
  padding: 20px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

p{
  color: black;
  margin: 0;
  flex-shrink: 1;
}

ul{
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  padding: 0;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  white-space: nowrap;
}

.content {
  padding-top: 79px;
  background-color: #FFF;
  min-height: calc(100vh - 79px);
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.container{
  height: auto;
  width: 100vw;
  max-width: 100vw;
  display: flex;
}

.content-ctn{
  flex-direction: column;
  justify-content: flex-start;
}

.headertext{
  z-index: 1;
  font-size: 4em;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.regtext{
  font-size: 3em;
  padding: 0;
  margin: 0;
}

.whiteText{
  color:white;
}

.contentheader{
  border-top: 5px solid #EBBE0F;
}

/* ==================================== */

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  z-index: 99999;
}

.topnav-ctn{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.topnavlogo{
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  height: 75px;
  width: auto;
  line-height: 75px;
}

.topnav-links {
  padding-right: 20px;
  color: black;
}

.topnav-links li{
  color: black;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
.topnav-links a{
  color: black;
  height: auto;
}

/* ================================== */

.landing-ctn{
  flex-flow: row wrap;
}

.landing-img{
  max-width: 100vw;
  max-height: auto;
  align-items: start;
}

.req-invite-ctn{
  flex-direction: column;
  align-items: center;
  background-color: #1E1E1E;
}

.req-invite-div{
  padding: 15px;
  margin: 10px;
  background-color: #1E1E1E;
  border: white solid 3px;
  display: flex;
}

.req-invite-btn{
  background-color: #1E1E1E;
  color: white;
}

/* ================================== */

.whatwedo-ctn{
  color: white;
  background-color: #1E1E1E;
  flex-direction: column;
}

.issuesimg{
  align-self: center
}

.whatwedo-text-div{
  top: 15%;
  position: relative;
}

.whatwedo-text-div p{
  color:white;
}

/* ================================== */

.grid-ctn{
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.grid-container{
  display: flex;
  flex-direction: column;
}

.grid-row{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid-item-div{
  position: relative;
  width: 320px;
  height: 214px;
  display: flex;
  align-items: center;
}

.grid-item{
  width: 320px;
  height: 214px;
  max-width: 320px;
  max-height: 214px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.categoryLogo{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.leftLogo{
  right: 0px;
}

/* ================================== */

.ourprocess-ctn{
  background-color: #1E1E1E;
  flex-direction: column;
}

.processItem-ctn{
  flex-direction: column;
  align-items: center;
}

.processNum{
  color: #EBBE0F;
  align-self: start;
}

.processImg{
  max-width: 200px;
  max-height: auto;
}

.process-inv-ctn{
  background: white;
}

/* ================================== */

.contact-text-ctn{
  background-color: #1E1E1E;
  flex-direction: column;
}

.contact-text-header-div{
  margin-left: 20px;
  margin-top: 20px;
}

.form-description-ctn{
  flex-direction: row;
}

.form-description-div{
  flex-direction: column;
  align-items: center;
  flex-basis: content;
}

.creatives-div{
  margin: 20px;
}

.nonprofits-div{
  margin: 20px;
}

.contact-forms-ctn{
  flex-direction: row;
}

.contact-form-div{
  margin:20px;
  flex-direction: column;
  align-items: center;
}

.formRow{
  display: flex;
  flex-direction: row;
}

.formMargin{
  margin-bottom: 10px;
}

.first-name-pair{
  margin-right:5px;
}

.button{
  background-color: white;
  border: 1px solid #1E1E1E;
  font-size: 3em;
  font-family: 'BebasNeueBold';
  align-self: center;
}

input[type=text],[type=email] {
  width: 100%;
}

.centered-submit{
  align-self: center;
}

/* ================================== */

.footer-ctn{
  color: white;
  background-color: #1E1E1E;
  height: auto;
  flex-direction: row;
}

.legalinfo{
  margin-top: 25px;
  padding: 5px;
  align-self: flex-end;
}

.sociallinks{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* align-self: center */
}
