body {
  background-color: #ffffff;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul{
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
}

li {
  display: inline;
  list-style-type: none;
  margin: 0;
  height: 10vh;
  line-height: 10vh;
}
ul.header {
  padding: 0;
  margin: 0;
}
ul.header li a {
  color: black;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
.content {
  background-color: #FFF;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active li {
  background-color: orange;
}

.container {
  height: 90vh;
  width: 100vw
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: auto;
  background: white;
  margin: 0;
  vertical-align: top;
}

.logo{
  display: inline;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

nav {
  display: inline-block;
}

.topnavdiv{
  display: block;
  height: 10vh;
}

.landing{
  padding-top: 12vh;
}

.whatwedo{
  color: white;
  background-color: #1E1E1E;
}

.footer{
  color: white;
   background-color: #1E1E1E;
   height: auto;
}

.globalissuesimg{
  max-height: 100vh;
}

.textdiv{
  /* padding-top: 10px; */
}

.headertext{
  font-size: 48px;
  width: auto;
  border-top: 3px solid #EBBE0F;
}
